<danger-alert [message]="errorMessage"></danger-alert>
<breadcrumb-bar [links]="breadcrumbLinks"></breadcrumb-bar>

<div class="row">
    <banner 
        title="Fase de seleção"
        description="Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão 'Gerar meu campeonato' para prosseguir.">
    </banner>
</div>

<div class="row">
    <div class="col-md-6 my-auto">
        <h5>Selecionados {{ selectedFilms.length }} de 8 filmes</h5>
    </div>

    <div class="col-md-6 text-right my-auto">
        <button
            class="btn btn-primary"
            (click)="onGenerateChampionship()"
            [disabled]="isGenerateButtonDisabled()">
            Gerar meu campeonato
        </button>
    </div>
</div>

<div class="row">
    <div *ngFor="let film of availableFilms" class="col-md-3 my-auto">
        <film-card
            [film]="film"
            [filmCount]="selectedFilms.length"
            (select)="onSelectFilm($event)"></film-card>
    </div>
</div>